@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font: 18px #1f2937;
}

body {
    margin: 0;
    padding: 0;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Header */

header {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

h1.hero-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul.navbar-link-list {
    padding: 0;
    list-style: none;
}

li.navbar-item {
    float: right;
    margin-left: 16px;
}

a.navbar-link {
    font-size: 18px;
    color: #e5e7eb;
}







