@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font: 18px #1f2937;
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
}
    nav {
        display: flex;
        justify-content: space-between;
        max-width: 1024px;
        padding: 0 16px;
    }

    h1.logo {
        margin: 0;
        line-height: 56px;
        font-size: 24px;
        color: #f9faf8;
    }

    nav ul {
        margin: 0;
        padding: 0;
        line-height: 56px;
        list-style-type: none;
    }

    li.navbar-item {
        margin-left: 16px;
        float: right;
        color: #e5e7eb;
    }

section.hero {
    background-color: #1f2937;
}

footer {
    background-color: #1f2937;
}