@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font: 18px #1f2937;
}
