@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1f2937;
}

body {
    margin: 0;
    padding: 0;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Global Styles */

button {
    padding: 8px 32px;
    font-size: inherit;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
}

/* Header */

header {
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

h1.hero-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul.navbar-link-list {
    padding: 0;
    list-style: none;
}

li.navbar-item {
    float: right;
    margin-left: 16px;
}

a.navbar-link {
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero Section */

section.hero {
    background-color: #1f2937;
}

div.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 128px auto;
    padding: 0 16px;
}

div.hero-blurb {
    flex-grow: 1;
}

img.hero-image {
    max-width: 512;
    flex-grow: 1;
}

h2.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 8px 0;
}

p.hero-secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

/* Information Section */

section.information {
    text-align: center;
}

h2.information-header {
    margin: 64px auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

ul.information-image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 128px;
    padding: 0;
    list-style-type: none;
}

ul.information-image-list li {
    flex: 1;
}

img.information-image {
    width: 100%;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

ul.information-image-list figcaption {
    text-align: center;
}

/* Quote Section */

section.quote {
    background-color: #e5e7eb;
}

figure.quote-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 128px 72px;
}

blockquote {
    margin: 0;
    padding: 0;
}

figcaption {
    padding: 0;
    text-align: right;
}

p.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

p.quote-citation {
    font-size: 24px;
    font-weight: 700;
}

/* Call to Action */

div.cta-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 128px auto;
    padding: 64px 72px;
    background-color: #3882f6;
    border-radius: 16px;
}

h2.cta-main-text {
    margin: 0 0 8px 0;
    font-weight: 700;
    color: #f9faf8;
}

p.cta-secondary-text {
    margin: 0;
    color: #f9faf8;
}

button.cta-button {
    border: 2px solid #f9faf8;
}

/* Footer */

footer {
    background: #1f2937;
}

p.footer-text {
    text-align: center;
    line-height: 64px;
    color: #f9faf8;
}