@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header,
footer {
    background-color: #1f2937;
}

header {
    padding: 0 16px;
    height: 64px;
}

section.hero {
    
}

nav {
    max-width: 1024px;
    margin: 0 auto;
}

h1.logo {
    float: left;
    margin: 0;
    line-height: 64px;
    font-size: 24px;
    color: #f9faf8;
}

nav > ul {
    margin: 0;
    float: right;
    padding: 0;
    list-style-type: none;
}

li.navbar-item {
    float: left;
    margin-left: 16px;
    line-height: 64px;
}

a.navbar-link {
    font-size: 18px;
    color: #e5e7eb;
}

p.footer-text {
    margin: 0 auto;
    padding: 32px;
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
}