@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Arial', sans-serif;
    font: 18px #1f2937;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
p,
ul,
figure,
blockquote,
button {
    margin: 0;
    padding: 0;
}

header,
footer,
section.hero {
    background-color: #1f2937;
}

section.cta {
    background-color: #3882f6;
}

section.quote {
    background-color: #e5e7eb;
}

h1.hero-logo {
    margin: 0;
    font-size: 24px;
    color: #f9faf8;
}

h2.hero-main-text {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

p.hero-secondary-text,
a.navbar-link {
    font-size: 18px;
    color: #e5e7eb;
}

ul.navbar-link-list {
    padding: 0;
    margin: 0;
}

li.navbar-item {
    list-style: none;
}

p.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

button {
    font-size: inherit;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
}

button.cta-button {
    border: 2px solid #f9faf8;
}



